Total_Question_Count = 44

Topics included:
1. Basic questions
2. Array questions
3. List questions
4. matrix questions
5. String questions
6. Dictionary questions
7. Search and sorting questions
8. Some additional topics are covered in the notebook.

### BASIC QUESTIONS

## Question 1

In [ ]:
num1 = 10
num2 = 20
sum = num1 + num2
print(f"{num1}+{num2} = {sum}")

10+20 = 30

## Question 2

In [ ]:
def find_max(a,b):
  if a>b:
    return f"{a} is greater than {b}"
  else:
    return f"{b} is greater than {a}"

find_max(10,5)

'10 is greater than 5'

## Question 3

In [ ]:
def factorial(number):
  return 1 if (number==1 or number==0) else number*factorial(number-1)

factorial(5)

120

## Question 4

In [ ]:
def find_simple_interest(p,t,r):
  print("the principle amount is ", p)
  print("Time period is ", t)
  print("The rate of interest is ", r)
  simple_interest = (p*t*r)/100
  print("The simple interest rate is ", simple_interest)

find_simple_interest(9,9,9)

the principle amount is  9
Time period is  9
The rate of interest is  9
The simple interest rate is  7.29

## Question 5

In [ ]:
def find_area_circle(r):
  pi = 3.14
  area = pi * (r**2)
  return f"area of circle is {area}"
find_area_circle(5)

'area of circle is 78.5'

## Question 6

In [ ]:
def print_fibo_number(n):
  if n<=0:
    return f"Incorrect number"
  elif n==1:
    return 0
  elif n == 2:
    return 1
  else:
    return print_fibo_number(n-1) + print_fibo_number(n-2)

print(print_fibo_number(10))

34

### Array Programs

## Question 1

In [ ]:
import numpy as np
def find_sum(arr):
  sum = 0
  for i in arr:
    sum += i
  return (sum)

array = np.array([1,2,3])
find_sum(array)

6

## Question 2

In [ ]:
def find_max(arr):
  max = arr[0]

  for i in arr:
    if i>max:
      max = i
    else:
      max=max
  return max

array = np.array([1,2,3])
find_max(array)

3

## Question 3

In [ ]:
def rotation(arr, n, d):
    temp = []
    i = 0
    while (i < d):
        temp.append(arr[i])
        i = i + 1
    i = 0
    while (d < n):
        arr[i] = arr[d]
        i = i + 1
        d = d + 1
    arr[:] = arr[: i] + temp
    return arr

arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotation(arr, len(arr), 2))

Array after left rotation is:  [3, 4, 5, 6, 7, 1, 2]

## Question 4

In [ ]:
def is_monotonic(arr):
  x=[]
  y=[]
  x.extend(arr)
  y.extend(arr)
  x.sort()
  y.sort(reverse=True)

  if (x==arr or y==arr):
    return True
  else:
    return False

A = [6, 5, 4, 4]

# Print required result
print(is_monotonic(A))

True

## Question 5

In [ ]:
from functools import reduce

def find_reminder(arr,n):
  sum = reduce(lambda x,y: x*y, arr)
  reminder = sum % n
  return reminder
arr = [100, 10, 5, 25, 35, 14]
n = 11
find_reminder(arr, n)

9

### List Programs

## Question 1

In [ ]:
def swap_first_last(arr):
  size = len(arr)
  temp = arr[0]
  arr[0] =  arr[size-1]
  arr[-1] = temp
  return arr

newList = [12, 35, 9, 56, 24]
swap_first_last(newList)

[24, 35, 9, 56, 12]

## Question 2

In [ ]:
def find_length(arr):
  counter = 0

  for i in arr:
    counter += 1
  return f"length of array is {counter}"
test_list = [1, 4, 5, 7, 8]
find_length(test_list)

'length of array is 5'

## Question 3

In [ ]:
def find_sum(arr):
  sum=0
  for i in arr:
    sum += i
  return f"Sum of array elements is {sum}"
test_list = [1, 4, 5, 7, 8]
find_sum(test_list)

'Sum of array elements is 25'

## Question 4

In [ ]:
def multiply(arr):
  mul = 1
  for i in arr:
    mul = mul* i
  return f"Multiplied array is {mul}"

test_list = [4, 4]
multiply(test_list)

'Multiplied array is 16'

## Question 5

In [ ]:
def print_even(start,end):
  temp=[]
  for i in range(start,end+1):
    if i %2 == 0:
      temp.append(i)
  return f"Even numbers are {temp}"
print_even(10,100)

'Even numbers are [10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]'

## Question 6

In [ ]:
def find_int_sum(array):
  res = []
  for ele in test_list:
      sum = 0
      for digit in str(ele):
          sum += int(digit)
      res.append(sum)
  return res

test_list = [12, 67, 98, 34]

find_int_sum(test_list)

[3, 13, 17, 7]

## Question 7

In [ ]:
def partition(array,n):
  for i in range(0,len(array),n):
    yield array[i:i+n]


my_list = ['geeks', 'for', 'geeks', 'like',
           'geeky','nerdy', 'geek', 'love',
               'questions','words', 'life']

n = 5

x = list(partition(my_list, n))
print(x)

[['geeks', 'for', 'geeks', 'like', 'geeky'], ['nerdy', 'geek', 'love', 'questions', 'words'], ['life']]

### Matrix Programs

## Question 1

In [ ]:
mat1 = [[1,2,3],[4,5,6],[7,8,9]]
mat2 = [[1,2,3],[4,5,6],[7,8,9]]
result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(mat1)):
  for j in range(len(mat1[0])):
    result[i][j] = mat1[i][j] + mat2[i][j]

print(result)

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

## Question 2

In [ ]:
import random

# Function to create a random matrix of size (rows, cols)
def create_random_matrix(rows, cols):
    return [[random.randint(1, 10) for _ in range(cols)] for _ in range(rows)]

# Define the size of the matrices
rows = 4
cols = 4

# Create random matrices
mat1 = create_random_matrix(rows, cols)
mat2 = create_random_matrix(rows, cols)

# Create the result matrix filled with zeros
result = [[0 for _ in range(cols)] for _ in range(rows)]

# Perform element-wise multiplication
for i in range(rows):
    for j in range(cols):
        result[i][j] = mat1[i][j] * mat2[i][j]

# Print the result
print(result)

[[40, 90, 6, 10], [80, 14, 54, 60], [30, 70, 18, 25], [14, 54, 45, 72]]

## Question 3

In [ ]:
def product(mat):
  mul = 1
  for  i in arr:
    mul = mul*i
  return f"Multiplication of matrix is {mul}"

mat1 = [[1,2,3],[4,5,6],[7,8,9]]
product(mat1)

'Multiplication of matrix is 61250000'

## Question 4

In [ ]:
def transpose(mat):
  transpose = [[mat[j][i] for j in range (len(mat))]for i in range(len(mat[0]))]
  return transpose

mat1 = [[1,2,3],
        [4,5,6],
        [7,8,9]]
transpose(mat1)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Question 5

In [ ]:
test_list = [[4, 5, 6], [8, 1, 10], [7, 12, 5]]
k = 3
num_of_columns = len(test_list[0])

if k <= num_of_columns:
    res = [sub[k - 1] for sub in test_list]
    print(res)
else:
    print("Out of bound columns")

[6, 10, 5]

## Question 6

In [ ]:
from itertools import zip_longest

# initializing lists
test_list = [["Gfg", "good"], ["is", "for"], ["Best"]]

res = ["".join(ele) for ele in zip_longest(*test_list,fillvalue="")]
print(res)

['GfgisBest', 'goodfor']

### String Problems

## Question 1

In [ ]:
def split(string):
  split_list = string.split(' ')
  return split_list

def join_string(string):
  new_list = "-".join(string)
  return new_list

string = "geek for geeks"
split_list  = split(string)
print(split_list)

new_list = join_string(split_list)
print(new_list)

['geek', 'for', 'geeks']
geek-for-geeks

## Question 2

In [ ]:
def binary(string):
  count = 0
  for ele in string:
    t = '01'
    if ele not in t:
      count += 1
    else:
      count = 0

  if count:
    return f"Not a binary"
  else:
    return f"Binary string"

string = "01001"
binary(string)

'Binary string'

### Dictionary Problems

## Question 1

In [ ]:

def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
    return di

tups = [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print(Convert(tups, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

## Question 2

In [ ]:
test_dict = {'gfg': [5, 6, 7, 8],
             'is': [10, 11, 7, 5],
             'best': [6, 12, 10, 8],
             'for': [1, 2, 5]}

res = list(sorted({ele for element in test_dict.values()for ele in element}))
print(res)

[1, 2, 5, 6, 7, 8, 10, 11, 12]

## Question 3

In [ ]:
def returnSum(dict):

    sum = 0
    for i in dict.values():
        sum = sum + i

    return sum

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

### Searching and Sorting Problemc

## Question 1

In [ ]:
def bubble_sort(arr):
  n= len(arr)
  swapped = False
  for i in range(0,n):
    for j in range(0,n-i-1):
      if arr[j]>= arr[j+1]:
        swapped = True
        arr[j],arr[j+1] = arr[j+1], arr[j]
    if not swapped:
      return

arr = [64, 34, 25, 12, 22, 11, 90]

bubble_sort(arr)
print("Sorted array is:")
for i in range(len(arr)):
    print("% d" % arr[i], end=" ")

Sorted array is:
 11  12  22  25  34  64  90

## Question 2

In [ ]:
def merge_sort(arr):
   #incase there's single array element
    if len(arr) <= 1:
        return arr

    # Divide the array into two halves.
    mid = len(arr) // 2
    left_half = arr[:mid]
    right_half = arr[mid:]

    # performing the recursive operation
    left_half = merge_sort(left_half)
    right_half = merge_sort(right_half)

    # Merge the two sorted halves.
    return merge(left_half, right_half)

def merge(left, right):
    merged = []
    left_index, right_index = 0, 0

    #checking both elements of both halves.
    while left_index < len(left) and right_index < len(right):
        if left[left_index] < right[right_index]:
            merged.append(left[left_index])
            left_index += 1
        else:
            merged.append(right[right_index])
            right_index += 1

    merged.extend(left[left_index:])
    merged.extend(right[right_index:])

    return merged

arr = [38, 27, 43, 3, 9, 82, 10]
sorted_arr = merge_sort(arr)
print(sorted_arr)

[3, 9, 10, 27, 38, 43, 82]

### Tuple Problems

## Question 1

In [ ]:
# sample Tuples
Tuple1 = ("A", 1, "B", 2, "C", 3)

print("Size of Tuple1: " + str(Tuple1.__sizeof__()) + "bytes")

Size of Tuple1: 72bytes

## Question 2

In [ ]:
from itertools import chain

test_list = [(15, 3), (3, 9), (1, 10), (99, 2)]

print("The original list is : " + str(test_list))
temp = map(lambda ele: str(ele), chain.from_iterable(test_list)) # this function is flattening and comverting each number into separate digit.
res = set()
for sub in temp:
    for ele in sub:
        res.add(ele) # adding all separate elements in another list.

# printing result
print("The extracted digits : " + str(res))

The original list is : [(15, 3), (3, 9), (1, 10), (99, 2)]
The extracted digits : {'3', '5', '9', '2', '1', '0'}

## Question 3

In [ ]:
from itertools import chain
test_tuple = ([5, 6], [6, 7, 8, 9], [3])
print("The original tuple : " + str(test_tuple))
res = tuple(chain.from_iterable(test_tuple))
print("The flattened tuple : " + str(res))

The original tuple : ([5, 6], [6, 7, 8, 9], [3])
The flattened tuple : (5, 6, 6, 7, 8, 9, 3)

## Question 4

In [ ]:
def sort(tup):
  l = len(tup)
  for i in range(0, l):
    for j in range(0, l-i-1):
      if tup[j][1] > tup[j+1][1]:
        temp = tup[j]
        tup[j] = tup[j + 1]
        tup[j + 1] = temp
  return tup

tup = [('for', 24), ('is', 10), ('Geeks', 28),
       ('Geeksforgeeks', 5), ('portal', 20), ('a', 15)]

print(sort(tup))

[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]

## Question 5

In [ ]:
# this code simply converts a given tuple keys into their cube and combine it with them.
list1 = [1, 2, 5, 6]
res = [(val, pow(val, 3)) for val in list1]
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

## Question 6

In [ ]:

test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("The original list : " + str(test_list))

K = np.random.randint(0,len(test_list))
print(K)
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
4
Filtered list : [(4, 5), (4,), (8, 6, 7), (1,)]

## Question 7

In [ ]:
test_list = [5, 6, 7]

print("The original list is : " + str(test_list))

test_tup = (9, 10)

test_list += test_tup
print("The container after addition : " + str(test_list))

The original list is : [5, 6, 7]
The container after addition : [5, 6, 7, 9, 10]

## Pattern problems

## Question 1

In [ ]:
number = 11
for i in range(number,0,-1):
  print((n-i) * '' + i * '*')

***********
**********
*********
********
*******
******
*****
****
***
**
*

## Question 2

In [ ]:
def pattern(n):

	#loop iteartes till the range of number given
	for i in range(1,n+1):


		k =i + 1 if(i % 2 != 0) else i

		# for loop for printing spaces
		for g in range(k,n):
			if g>=k:
				print(end=" ")

		# according to value of k carry
		# out further operation
		for j in range(0,k):
			if j == k - 1:
				print("*")
			else:
				print("*", end = " ")


n = 2
pattern(n)

* *
* *

### Date Time Programs

## Question 1

In [ ]:
from datetime import datetime, timedelta
today = datetime.now()
yesterday = datetime.now() -timedelta(1)
print("yesterday",yesterday)
print("Tomorrow date ", datetime.now()+timedelta(1))

yesterday 2023-07-23 07:47:56.401755
Tomorrow date  2023-07-25 07:47:56.403397

## Question 2

In [ ]:
import datetime
string = "20/01/2020"
date_time = datetime.datetime.strptime(string,"%d/%m/%Y")
print(type(date_time))

<class 'datetime.datetime'>

## Question 2

In [ ]:
from datetime import datetime
timestamp = 1545730073
dt_obj = datetime.fromtimestamp(1140825600)

print(dt_obj)

2006-02-25 00:00:00

### More Python Problems

## Question 1

In [ ]:
import math

def maxPrimeFactors(n):
    maxPrime = -1

    # Print the number of 2s that divide n
    while n % 2 == 0:
        maxPrime = 2
        n/=2


    for i in range(3, int(math.sqrt(n)) + 1, 2):
        while n % i == 0:
            maxPrime = i
            n = n / i

    if n > 2:
        maxPrime = n

    return int(maxPrime)

n = 15
print(maxPrimeFactors(n))
n = 25698751364526
print(maxPrimeFactors(n))

5
328513